
build/
build-*/
out/

cmake-build-*/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

_deps/
Testing/

*.exe
*.out
*.app
*.o
*.obj
*.so
*.dylib
*.a
*.lib

.DS_Store
.AppleDouble
.LSOverride
Icon
._*

.idea/
.vscode/
*.swp
*.swo